C2C.Common/Connected Services/TMCSensor/SOAPHeader_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://transport.nsw.gov.au/tmc/schemas/software_component/SOAPHeader/v1" targetNamespace="http://transport.nsw.gov.au/tmc/schemas/software_component/SOAPHeader/v1" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MsgContext" type="tns:MsgContextCType" />
  <xs:complexType name="MsgContextCType">
    <xs:sequence>
      <xs:element name="msgSolution" type="tns:NonEmptyStringCType" />
      <xs:element name="msgCorrelationID" type="tns:GUIDCType" />
      <xs:element minOccurs="0" name="msgTransaction" type="tns:NonEmptyStringCType" />
      <xs:element minOccurs="0" name="msgSource" type="tns:NonEmptyStringCType" />
      <xs:element minOccurs="0" name="msgDestination" type="tns:NonEmptyStringCType" />
      <xs:element minOccurs="0" name="msgPriority" type="tns:MsgPriorityCType" />
      <xs:element minOccurs="0" name="msgTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="extension" type="tns:ExtensionCType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtensionCType">
    <xs:sequence>
      <xs:element name="name" type="tns:NonEmptyStringCType" />
      <xs:element name="value" type="tns:NonEmptyStringCType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GUIDCType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NonEmptyStringCType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
      <xs:pattern value=".*[^\s].*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MsgPriorityCType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="9" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>