C2C.Common/Connected Services/CHSDevice/Device_v0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:header="http://transport.nsw.gov.au/rms" xmlns:c2c="http://www.ntcip.org/c2c-message-administration" xmlns:tns="http://transport.nsw.gov.au/rms/services/entity/devices/Device_v0" xmlns:v0p1="http://transport.nsw.gov.au/rms/services/entity/devices/Device_v0p1" xmlns:tmdd="http://www.tmdd.org/3/messages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Device_v0.wsdl" targetNamespace="http://transport.nsw.gov.au/rms/services/entity/devices/Device_v0" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
			Device Service  -  Version 0.1
	</documentation>
  <types>
    <xs:schema targetNamespace="http://transport.nsw.gov.au/rms/services/entity/devices/Device_v0p1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="../../xsd/tmdd/TMDD.xsd" namespace="http://www.tmdd.org/3/messages" />
      <xs:import schemaLocation="../../xsd/tmdd/C2C.xsd" namespace="http://www.ntcip.org/c2c-message-administration" />
      <xs:import schemaLocation="MsgContext.xsd" namespace="http://transport.nsw.gov.au/rms" />
      <xs:element name="publishDetectorStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:detectorStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishDetectorStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishDMSStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:dMSStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishDMSStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishLCSStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:lCSStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishLCSStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishOHDStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:oHDStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishOHDStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishESSStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:eSSStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishESSStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishRampMeterStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:rampMeterStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishRampMeterStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishSignalStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:intersectionSignalStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishSignalStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDMSStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:deviceInformationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDMSStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:dMSStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDetectorStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:deviceInformationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDetectorStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:detectorStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLCSStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:deviceInformationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLCSStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:lCSStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="errorReport">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:errorReportMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getGateStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:deviceInformationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getGateStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:gateStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getOHDStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:deviceInformationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getOHDStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:oHDStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishGateStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:gateStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishGateStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getESSStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:deviceInformationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getESSStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:eSSStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRampMeterStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:deviceInformationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRampMeterStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:rampMeterStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSignalStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:deviceInformationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSignalStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:intersectionSignalStatusMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="publishDetectorStatus">
    <part name="message" element="v0p1:publishDetectorStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishDetectorStatusResponse">
    <part name="message" element="v0p1:publishDetectorStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishDMSStatus">
    <part name="message" element="v0p1:publishDMSStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishDMSStatusResponse">
    <part name="message" element="v0p1:publishDMSStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishLCSStatus">
    <part name="message" element="v0p1:publishLCSStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishLCSStatusResponse">
    <part name="message" element="v0p1:publishLCSStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishOHDStatus">
    <part name="message" element="v0p1:publishOHDStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishOHDStatusResponse">
    <part name="message" element="v0p1:publishOHDStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishESSStatus">
    <part name="message" element="v0p1:publishESSStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishESSStatusResponse">
    <part name="message" element="v0p1:publishESSStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishRampMeterStatus">
    <part name="message" element="v0p1:publishRampMeterStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishRampMeterStatusResponse">
    <part name="message" element="v0p1:publishRampMeterStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishSignalStatus">
    <part name="message" element="v0p1:publishSignalStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishSignalStatusResponse">
    <part name="message" element="v0p1:publishSignalStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getDMSStatus">
    <part name="message" element="v0p1:getDMSStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getDMSStatusResponse">
    <part name="message" element="v0p1:getDMSStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getDetectorStatus">
    <part name="message" element="v0p1:getDetectorStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getDetectorStatusResponse">
    <part name="message" element="v0p1:getDetectorStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getLCSStatus">
    <part name="message" element="v0p1:getLCSStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getLCSStatusResponse">
    <part name="message" element="v0p1:getLCSStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="errorReport">
    <part name="message" element="v0p1:errorReport" />
  </message>
  <message name="getGateStatus">
    <part name="message" element="v0p1:getGateStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getGateStatusResponse">
    <part name="message" element="v0p1:getGateStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishGateStatus">
    <part name="message" element="v0p1:publishGateStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishGateStatusResponse">
    <part name="message" element="v0p1:publishGateStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getOHDStatus">
    <part name="message" element="v0p1:getOHDStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getOHDStatusResponse">
    <part name="message" element="v0p1:getOHDStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getESSStatus">
    <part name="message" element="v0p1:getESSStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getESSStatusResponse">
    <part name="message" element="v0p1:getESSStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getRampMeterStatus">
    <part name="message" element="v0p1:getRampMeterStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getRampMeterStatusResponse">
    <part name="message" element="v0p1:getRampMeterStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getSignalStatus">
    <part name="message" element="v0p1:getSignalStatus" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getSignalStatusResponse">
    <part name="message" element="v0p1:getSignalStatusResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <portType name="DevicePortType_v0p1">
    <operation name="publishDetectorStatus">
      <documentation>
        <objectClass>Detector</objectClass>
        <msgPattern>Pub</msgPattern>
        <requirement>REQ417</requirement>
      </documentation>
      <input message="tns:publishDetectorStatus" />
      <output message="tns:publishDetectorStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="publishDMSStatus">
      <documentation>
        <objectClass>DMS</objectClass>
        <msgPattern>Pub</msgPattern>
        <requirement>REQ32</requirement>
      </documentation>
      <input message="tns:publishDMSStatus" />
      <output message="tns:publishDMSStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="publishLCSStatus">
      <documentation>
        <objectClass>LCS</objectClass>
        <msgPattern>Pub</msgPattern>
        <requirement>REQ892</requirement>
      </documentation>
      <input message="tns:publishLCSStatus" />
      <output message="tns:publishLCSStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="publishGateStatus">
      <documentation>
        <objectClass>Gate</objectClass>
        <msgPattern>Pub</msgPattern>
      </documentation>
      <input message="tns:publishGateStatus" />
      <output message="tns:publishGateStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="publishOHDStatus">
      <documentation>
        <objectClass>OHD</objectClass>
        <msgPattern>Pub</msgPattern>
      </documentation>
      <input message="tns:publishOHDStatus" />
      <output message="tns:publishOHDStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="publishESSStatus">
      <documentation>
        <objectClass>ESS</objectClass>
        <msgPattern>Pub</msgPattern>
      </documentation>
      <input message="tns:publishESSStatus" />
      <output message="tns:publishESSStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="publishRampMeterStatus">
      <documentation>
        <objectClass>RampMeter</objectClass>
        <msgPattern>Pub</msgPattern>
      </documentation>
      <input message="tns:publishRampMeterStatus" />
      <output message="tns:publishRampMeterStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="publishSignalStatus">
      <documentation>
        <objectClass>Signal</objectClass>
        <msgPattern>Pub</msgPattern>
      </documentation>
      <input message="tns:publishSignalStatus" />
      <output message="tns:publishSignalStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="getDMSStatus">
      <input message="tns:getDMSStatus" />
      <output message="tns:getDMSStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="getDetectorStatus">
      <input message="tns:getDetectorStatus" />
      <output message="tns:getDetectorStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="getLCSStatus">
      <input message="tns:getLCSStatus" />
      <output message="tns:getLCSStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="getGateStatus">
      <input message="tns:getGateStatus" />
      <output message="tns:getGateStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="getOHDStatus">
      <input message="tns:getOHDStatus" />
      <output message="tns:getOHDStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="getESSStatus">
      <input message="tns:getESSStatus" />
      <output message="tns:getESSStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="getRampMeterStatus">
      <input message="tns:getRampMeterStatus" />
      <output message="tns:getRampMeterStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="getSignalStatus">
      <input message="tns:getSignalStatus" />
      <output message="tns:getSignalStatusResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
  </portType>
  <binding name="DeviceSoapHttpBinding_v0p1" type="tns:DevicePortType_v0p1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="publishDetectorStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishDetectorStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishDetectorStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="publishDMSStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishDMSStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishDMSStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="publishLCSStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishLCSStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishLCSStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="publishGateStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishGateStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishGateStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="publishOHDStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishOHDStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishOHDStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="publishESSStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishESSStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishESSStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="publishRampMeterStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishRampMeterStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishRampMeterStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="publishSignalStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishSignalStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishSignalStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="getDMSStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getDMSStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getDMSStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="getDetectorStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getDetectorStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getDetectorStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="getLCSStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getLCSStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getLCSStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="getGateStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getGateStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getGateStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="getOHDStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getOHDStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getOHDStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="getESSStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getESSStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getESSStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="getRampMeterStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getRampMeterStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getRampMeterStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="getSignalStatus">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getSignalStatus" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getSignalStatusResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="Device_v0p1">
    <port name="DeviceSoapHttpPort" binding="tns:DeviceSoapHttpBinding_v0p1">
      <soap:address location="http://tmdd.owner.center.com/c2cxml/" />
    </port>
  </service>
</definitions>