C2CClient/Connected Services/CHS_WeatherPortType/WeatherPortType_v0p1Client.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WeatherPortType_v0p1Client" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_WeatherPortType_v0p1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd5" namespace="http://transport.nsw.gov.au/rms/services/entity/devices/Weather_v0p1" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd6" namespace="http://transport.nsw.gov.au/rms" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd7" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getESSObservationRequest">
    <wsdl:part xmlns:q1="http://transport.nsw.gov.au/rms/services/entity/devices/Weather_v0p1" name="getESSObservation" element="q1:getESSObservation" />
  </wsdl:message>
  <wsdl:message name="getESSObservationRequest_Headers">
    <wsdl:part xmlns:q2="http://transport.nsw.gov.au/rms" name="msgContext" element="q2:msgContext" />
  </wsdl:message>
  <wsdl:message name="getESSObservationResponse1">
    <wsdl:part xmlns:q3="http://transport.nsw.gov.au/rms/services/entity/devices/Weather_v0p1" name="getESSObservationResponse" element="q3:getESSObservationResponse" />
  </wsdl:message>
  <wsdl:message name="getESSObservationResponse1_Headers">
    <wsdl:part xmlns:q4="http://transport.nsw.gov.au/rms" name="msgContext" element="q4:msgContext" />
  </wsdl:message>
  <wsdl:message name="WeatherPortType_v0p1_HelloMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloMethod" />
  </wsdl:message>
  <wsdl:message name="WeatherPortType_v0p1_HelloMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="WeatherPortType_v0p1">
    <wsdl:operation name="getESSObservation">
      <wsdl:input wsaw:Action="http://tempuri.org/WeatherPortType_v0p1/getESSObservation" name="getESSObservationRequest" message="tns:getESSObservationRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/WeatherPortType_v0p1/getESSObservationResponse" name="getESSObservationResponse1" message="tns:getESSObservationResponse1" />
    </wsdl:operation>
    <wsdl:operation name="HelloMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/WeatherPortType_v0p1/HelloMethod" message="tns:WeatherPortType_v0p1_HelloMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WeatherPortType_v0p1/HelloMethodResponse" message="tns:WeatherPortType_v0p1_HelloMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_WeatherPortType_v0p1" type="tns:WeatherPortType_v0p1">
    <wsp:PolicyReference URI="#NetTcpBinding_WeatherPortType_v0p1_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getESSObservation">
      <soap12:operation soapAction="http://tempuri.org/WeatherPortType_v0p1/getESSObservation" style="document" />
      <wsdl:input name="getESSObservationRequest">
        <soap12:header message="tns:getESSObservationRequest_Headers" part="msgContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getESSObservationResponse1">
        <soap12:header message="tns:getESSObservationResponse1_Headers" part="msgContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloMethod">
      <soap12:operation soapAction="http://tempuri.org/WeatherPortType_v0p1/HelloMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherPortType_v0p1Client">
    <wsdl:port name="NetTcpBinding_WeatherPortType_v0p1" binding="tns:NetTcpBinding_WeatherPortType_v0p1">
      <soap12:address location="net.tcp://localhost:8020/HelloService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8020/HelloService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-4H9EUQ6\AhsanZaman</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>