C2C.Common/Connected Services/MMDevice/C2C.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.ntcip.org/c2c-message-administration" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.ntcip.org/c2c-message-administration" version="DRAFT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
		  TMDD V3.0 Design - Manny Insignares, ConSysTec, May 29, 2006 
	   </xs:documentation>
  </xs:annotation>
  <xs:complexType name="AuthorizationSet">
    <xs:sequence>
      <xs:element name="user-id" type="Security-user-name" />
      <xs:element name="password" type="Security-password" />
      <xs:element name="hashtime" type="DateTimePair" />
      <xs:element name="hash">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="10" />
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BroadcastAlerts">
    <xs:sequence maxOccurs="2">
      <xs:element name="broadcastAlert" type="BroadcastAlertsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BroadcastAlertsItem">
    <xs:annotation>
      <xs:appinfo>
            reserved (0)
            broadcastAlertsAccepted (1)
            broadcastAlertsNotAccepted (2)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="2" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="reserved" />
          <xs:enumeration value="broadcastAlertsAccepted" />
          <xs:enumeration value="broadcastAlertsNotAccepted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:element name="c2cMessagePublication" type="C2cMessagePublication" />
  <xs:complexType name="C2cMessagePublication">
    <xs:sequence>
      <xs:element minOccurs="0" name="informationalText" type="InformationalText" />
      <xs:element name="subscriptionID" type="SubscriptionID" />
      <xs:element minOccurs="0" name="subscriptionName" type="SubscriptionName" />
      <xs:element minOccurs="0" name="subscriptionFrequency" type="SubscriptionFrequency" />
      <xs:element minOccurs="0" name="subscriptionCount" type="SubscriptionCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="c2cMessageReceipt" type="C2cMessageReceipt" />
  <xs:complexType name="C2cMessageReceipt">
    <xs:sequence>
      <xs:element name="informationalText" type="InformationalText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="c2cMessageSubscription" type="C2cMessageSubscription" />
  <xs:complexType name="C2cMessageSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="informationalText" type="InformationalText" />
      <xs:element name="returnAddress" type="ReturnAddress" />
      <xs:element name="subscriptionAction" type="SubscriptionAction" />
      <xs:element name="subscriptionType" type="SubscriptionType" />
      <xs:element name="subscriptionID" type="SubscriptionID" />
      <xs:element minOccurs="0" name="subscriptionName" type="SubscriptionName" />
      <xs:element minOccurs="0" name="subscriptionTimeFrame" type="SubscriptionTimeFrame" />
      <xs:element name="subscriptionFrequency" type="SubscriptionFrequency" />
      <xs:element minOccurs="0" name="broadcastAlerts" type="BroadcastAlerts" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DateTimePair">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="InformationalText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReturnAddress">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Security-password">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Security-user-name">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SubscriptionAction">
    <xs:sequence maxOccurs="10">
      <xs:element name="subscriptionAction-item" type="SubscriptionActionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SubscriptionActionItem">
    <xs:annotation>
      <xs:appinfo>
            reserved (0)
            newSubscription (1)
            replaceSubscription (2)
            cancelSubscription (3)
            cancelAllPriorSubscriptions (4)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="4" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="reserved" />
          <xs:enumeration value="newSubscription" />
          <xs:enumeration value="replaceSubscription" />
          <xs:enumeration value="cancelSubscription" />
          <xs:enumeration value="cancelAllPriorSubscriptions" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="SubscriptionCount">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubscriptionFrequency">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubscriptionID">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubscriptionName">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SubscriptionTimeFrame">
    <xs:sequence>
      <xs:element name="start" type="DateTimePair" />
      <xs:element name="end" type="DateTimePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionType">
    <xs:sequence maxOccurs="10">
      <xs:element name="subscriptionType-item" type="SubscriptionTypeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SubscriptionTypeItem">
    <xs:annotation>
      <xs:appinfo>
            reserved (0)
            oneTime (1)
            periodic (2)
            onChange (3)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="reserved" />
          <xs:enumeration value="oneTime" />
          <xs:enumeration value="periodic" />
          <xs:enumeration value="onChange" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>