C2C.Common/Connected Services/MMTraficSubCentre/LRMS-Adopted-02-00-00.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:local="http://www.LRMS-Local-02-00-00" xmlns="http://www.LRMS-Adopted-02-00-00" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.LRMS-Adopted-02-00-00" version="DRAFT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="LRMS-Local-02-00-00.xsd" namespace="http://www.LRMS-Local-02-00-00" />
  <xs:annotation>
    <xs:documentation>
      Exported on: 12:21:01 PM Tuesday, November 14, 2006 From file: lrms_adopted-2-0-0.ITS [By: Mini-Edit Rev 2.1.442] 
   </xs:documentation>
  </xs:annotation>
  <xs:complexType name="PreCoded">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:element minOccurs="0" name="idType" type="PreCodedIdType" />
      <xs:element minOccurs="0" name="alertcCountryCode" type="AlertCCountryCode" />
      <xs:element minOccurs="0" name="locationTable" type="LocationTable" />
      <xs:element minOccurs="0" name="locationCode" type="LocationCode" />
      <xs:element minOccurs="0" name="countryCode" type="CountryCode" />
      <xs:element minOccurs="0" name="registryNumericId" type="Int-index16" />
      <xs:element minOccurs="0" name="registryAlphanumId" type="Text-name255" />
      <xs:element minOccurs="0" name="alphanumId" type="String-index64" />
      <xs:element minOccurs="0" name="numericIdxSize8" type="NumericIDXSize8" />
      <xs:element minOccurs="0" name="numericIdxSize12" type="NumericIDXSize12" />
      <xs:element minOccurs="0" name="numericIdxSize16" type="NumericIDXSize16" />
      <xs:element minOccurs="0" name="numericIdxSize32" type="NumericIDXSize32" />
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="Geometry">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:choice>
        <xs:element name="node" type="GeoLocation" />
        <xs:element name="nodeOffset">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="originNode" type="GeoLocation" />
              <xs:element name="offsetEast" type="Distance" />
              <xs:element name="offsetNorth" type="Distance" />
              <xs:element minOccurs="0" name="offsetHeight" type="Height" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="link" type="GeoLocationLink" />
        <xs:element name="area" type="IdType" />
        <xs:element name="polygon" type="Polygon" />
        <xs:element name="chain" type="Chain" />
        <xs:element name="transition" type="Transition" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="GeoCoord">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:choice>
        <xs:element name="geoLocationPoint" type="GeoLocation" />
        <xs:element name="geoLocationLink" type="GeoLocationLink" />
        <xs:element name="polarCoordinates" type="PolarCoordinates" />
        <xs:element name="geoLocationDelta" type="GeoLocationDelta" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="Transition">
    <xs:sequence>
      <xs:element minOccurs="0" name="transitionName" type="Text-name255" />
      <xs:element name="transitionId" type="IdType" />
      <xs:element minOccurs="0" name="transitionOffset" type="Distance" />
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="Grid">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:element name="gridArray" type="GridArray" />
      <xs:element name="gridPoint" type="GridPoint" />
      <xs:element name="gridPointPair" type="GridPointPair" />
      <xs:element name="gridPointSequence" type="GridPointSequence" />
      <xs:element minOccurs="0" name="localGridProfile" type="local:GridProfile" />
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:choice>
        <xs:element name="addressPoint" type="AddressPoint" />
        <xs:element name="addressLink" type="AddressLink" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="CrossStreets">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:choice>
        <xs:element name="crossStreetsPoint" type="CrossStreetsPoint" />
        <xs:element name="crossStreetsLink" type="CrossStreetsLink" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="LinearReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:element minOccurs="0" name="linearRefMethod" type="LRMethod" />
      <xs:element minOccurs="0" name="transElement" type="StreetInfo" />
      <xs:element minOccurs="0" name="startRefPoint" type="PointLocation" />
      <xs:element minOccurs="0" name="endRefPoint" type="PointLocation" />
      <xs:element minOccurs="0" name="startDistance" type="Distance" />
      <xs:element minOccurs="0" name="endDistance" type="Distance" />
      <xs:element minOccurs="0" name="startNormDistance" type="NormalizedDistance" />
      <xs:element minOccurs="0" name="endNormDistance" type="NormalizedDistance" />
      <xs:element minOccurs="0" name="distanceDirection" type="Direction" />
      <xs:element name="lateralOffsetRef" type="LROffsetRef" />
      <xs:element minOccurs="0" name="positiveOffsetDir" type="LRPosOffsetDir" />
      <xs:element minOccurs="0" name="startLateralOffset" type="Distance" />
      <xs:element minOccurs="0" name="endLateralOffset" type="Distance" />
      <xs:element minOccurs="0" name="travelDirection" type="Direction" />
      <xs:element minOccurs="0" name="side" type="Side" />
      <xs:element minOccurs="0" name="startHeight" type="Height" />
      <xs:element minOccurs="0" name="endheight" type="Height" />
      <xs:element minOccurs="0" name="startAdminAreas" type="AdminAreaGroup" />
      <xs:element minOccurs="0" name="endAdminAreas" type="AdminAreaGroup" />
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="Polygon">
    <xs:sequence>
      <xs:element minOccurs="0" name="polygonName" type="Text-name255" />
      <xs:element minOccurs="3" maxOccurs="255" name="vertex" type="PointLocation" />
    </xs:sequence>
    <xs:attribute name="locationId" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="PublicGrid">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:choice>
        <xs:element name="usng" type="PublicGridUSNG" />
        <xs:element name="localReference" type="PublicGridLocalReference" />
        <xs:element name="statePlane" type="PublicGridStatePlane" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="AddressLink">
    <xs:sequence>
      <xs:element name="fromStructureNumber" type="Text-name255" />
      <xs:element name="toStructureNumber" type="Text-name255" />
      <xs:element minOccurs="0" name="streetInfo" type="StreetInfo" />
      <xs:element minOccurs="0" name="direction" type="Direction" />
      <xs:element minOccurs="0" name="fromSide" type="Side" />
      <xs:element minOccurs="0" name="toSide" type="Side" />
      <xs:element minOccurs="0" name="fromHeight" type="Height" />
      <xs:element minOccurs="0" name="toHeight" type="Height" />
      <xs:element minOccurs="0" name="fromAdminAreas" type="AdminAreaGroup" />
      <xs:element minOccurs="0" name="toAdminAreas" type="AdminAreaGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressPoint">
    <xs:sequence>
      <xs:element name="structureNumber" type="Text-name255" />
      <xs:element minOccurs="0" name="streetInfo" type="StreetInfo" />
      <xs:element minOccurs="0" name="side" type="Side" />
      <xs:element minOccurs="0" name="height" type="Height" />
      <xs:element minOccurs="0" name="adminAreas" type="AdminAreaGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdminAreaGroup">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="city" type="Text-name255" />
      <xs:element name="county" type="Text-name255" />
      <xs:element name="state" type="Text-name255" />
      <xs:element name="postalCode" type="PostalCode" />
      <xs:element name="countryCode" type="CountryCode" />
      <xs:element name="stateFIPS" type="Int-index8" />
      <xs:element name="entityIPS" type="Int-index32" />
      <xs:element name="countyFIPS" type="Int-index16" />
      <xs:element name="cityFIPS" type="Int-index32" />
      <xs:element minOccurs="0" name="localAdminAreaGroup" type="local:AdminAreaGroup" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Angle">
    <xs:choice>
      <xs:element name="deg">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="360" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="rad">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="6.2832" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cdeg">
        <xs:simpleType>
          <xs:restriction base="xs:unsignedShort">
            <xs:maxInclusive value="36000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AreaLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:element minOccurs="0" name="areaId" type="IdType" />
      <xs:element minOccurs="0" name="adminAreas" type="AdminAreaGroup" />
      <xs:element minOccurs="0" name="polygon" type="Polygon" />
      <xs:element minOccurs="0" name="preCoded" type="PreCoded" />
      <xs:element minOccurs="0" name="roads">
        <xs:complexType>
          <xs:sequence maxOccurs="255">
            <xs:element name="road" type="StreetInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="Attributes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="100" name="simpleAttributes" type="Text-name255" />
      <xs:element minOccurs="0" maxOccurs="100" name="complexAttributes" type="Text-name255" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Chain">
    <xs:sequence>
      <xs:element name="chain">
        <xs:complexType>
          <xs:choice>
            <xs:element name="chainName" type="Text-name255" />
            <xs:element name="chainId" type="IdType" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="startNodeInfo" type="NodeAttribute" />
      <xs:element minOccurs="0" name="endNodeInfo" type="NodeAttribute" />
      <xs:element minOccurs="0" name="chainOffset" type="Distance" />
      <xs:element minOccurs="0" name="startSequenceNum" type="SequenceNum" />
      <xs:element minOccurs="0" name="endSequenceNum" type="SequenceNum" />
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="CrossStreetsLink">
    <xs:sequence>
      <xs:element name="onStreetInfo" type="StreetInfo" />
      <xs:element name="fromStreetInfo" type="StreetInfo" />
      <xs:element name="toStreetInfo" type="StreetInfo" />
      <xs:element minOccurs="0" name="startGeoLocation" type="GeoLocation" />
      <xs:element minOccurs="0" name="endGeoLocation" type="GeoLocation" />
      <xs:element minOccurs="0" name="startIntersectionType" type="IntersectionType" />
      <xs:element minOccurs="0" name="endIntersectionType" type="IntersectionType" />
      <xs:element minOccurs="0" name="offset1" type="Distance" />
      <xs:element minOccurs="0" name="offset2" type="Distance" />
      <xs:element minOccurs="0" name="direction" type="Direction" />
      <xs:element minOccurs="0" name="side" type="Side" />
      <xs:element minOccurs="0" name="height" type="Height" />
      <xs:element minOccurs="0" name="adminArea1" type="AdminAreaGroup" />
      <xs:element minOccurs="0" name="adminArea2" type="AdminAreaGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrossStreetsPoint">
    <xs:sequence>
      <xs:element name="onStreetInfo" type="StreetInfo" />
      <xs:element name="atStreetInfo" type="StreetInfo" />
      <xs:element minOccurs="0" name="geoLocation" type="GeoLocation" />
      <xs:element minOccurs="0" name="intersectionType" type="IntersectionType" />
      <xs:element minOccurs="0" name="offset" type="Distance" />
      <xs:element minOccurs="0" name="direction" type="Direction" />
      <xs:element minOccurs="0" name="side" type="Side" />
      <xs:element minOccurs="0" name="height" type="Height" />
      <xs:element minOccurs="0" name="adminAreas" type="AdminAreaGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Distance">
    <xs:choice>
      <xs:element name="m">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="-10000000" />
            <xs:maxInclusive value="+10000000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="mDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-10000000" />
            <xs:maxInclusive value="+10000000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="mm">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="-1000000" />
            <xs:maxInclusive value="+1000000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="mmDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-1000000" />
            <xs:maxInclusive value="+1000000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dm">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="-1000000" />
            <xs:maxInclusive value="+1000000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-1000000" />
            <xs:maxInclusive value="+1000000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="yd">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="-17600000" />
            <xs:maxInclusive value="+17600000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ydDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-17600000" />
            <xs:maxInclusive value="+17600000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ft">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="-52800000" />
            <xs:maxInclusive value="+52800000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ftDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-52800000" />
            <xs:maxInclusive value="+52800000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="in">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="-1000000" />
            <xs:maxInclusive value="+1000000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="inDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-1000000" />
            <xs:maxInclusive value="+1000000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="mi">
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:minInclusive value="-10000" />
            <xs:maxInclusive value="+10000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="miDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-10000" />
            <xs:maxInclusive value="+10000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="km">
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:minInclusive value="-10000" />
            <xs:maxInclusive value="+10000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="kmDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-10000" />
            <xs:maxInclusive value="+10000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="block">
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:minInclusive value="-1000" />
            <xs:maxInclusive value="+1000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="blkDec">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-1000" />
            <xs:maxInclusive value="+1000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="GeoLocation">
    <xs:sequence>
      <xs:element name="latitude" type="Latitude" />
      <xs:element name="longitude" type="Longitude" />
      <xs:element minOccurs="0" name="horizontalDatum" type="HorizontalDatum" />
      <xs:element minOccurs="0" name="height" type="Height" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeoLocationDelta">
    <xs:sequence>
      <xs:element minOccurs="0" name="deltaHeight" type="Height" />
      <xs:element name="delta">
        <xs:complexType>
          <xs:choice>
            <xs:element name="deltaCoords">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="deltaLatitude" type="Latitude" />
                  <xs:element name="deltaLongitude" type="Longitude" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="deltaDistance">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="offsetEast" type="Distance" />
                  <xs:element name="offsetNorth" type="Distance" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeoLocationLink">
    <xs:sequence>
      <xs:element name="startPoint" type="GeoLocation" />
      <xs:element name="endPoint" type="GeoLocation" />
      <xs:element minOccurs="0" name="direction" type="Direction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GridArray">
    <xs:sequence maxOccurs="10">
      <xs:element name="gridArray-item" type="GridArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GridInfo">
    <xs:sequence>
      <xs:element name="id" type="Int-index8" />
      <xs:element name="latitude" type="GridLatitude" />
      <xs:element name="longitude" type="GridLongitude" />
      <xs:element name="zoom" type="GridZoom" />
      <xs:element minOccurs="0" name="altitude" type="GridAltitude" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GridPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="pointCoordinateType" type="GridPointCoordinateType" />
      <xs:element minOccurs="0" name="side" type="Side" />
      <xs:element name="gridPointInfo">
        <xs:complexType>
          <xs:sequence maxOccurs="1000">
            <xs:sequence>
              <xs:element minOccurs="0" name="longitude" type="GridPointLongitude" />
              <xs:element minOccurs="0" name="latitude" type="GridPointLatitude" />
              <xs:element minOccurs="0" name="gridId" type="Int-index8" />
              <xs:element name="latitudeDelta" type="GridPointLatLonDelta" />
              <xs:element name="longitudeDelta" type="GridPointLatLonDelta" />
              <xs:element minOccurs="0" name="altitudeDelta" type="GridPointAltitudeDelta" />
              <xs:element minOccurs="0" name="offsetStart" type="GridPointOffsetDistance" />
              <xs:element minOccurs="0" name="offsetEnd" type="GridPointOffsetDistance" />
            </xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="localGridPoint" type="local:GridPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GridPointPair">
    <xs:sequence>
      <xs:element name="pointPairCoordinateType" type="GridPointPairCoordinateType" />
      <xs:element name="side" type="Side" />
      <xs:element name="pointPairInfo">
        <xs:complexType>
          <xs:sequence maxOccurs="1000">
            <xs:sequence>
              <xs:element minOccurs="0" name="startLongitude" type="GridPointLongitude" />
              <xs:element minOccurs="0" name="startLatitude" type="GridPointLatitude" />
              <xs:element minOccurs="0" name="endLongitude" type="GridPointLongitude" />
              <xs:element minOccurs="0" name="endLatitude" type="GridPointLatitude" />
              <xs:element minOccurs="0" name="gridId" type="Int-index8" />
              <xs:element name="startLatitudeGridDelta" type="GridPointLatLonDelta" />
              <xs:element name="startLongitudeGridDelta" type="GridPointLatLonDelta" />
              <xs:element name="endLatitudeGridDelta" type="GridPointLatLonDelta" />
              <xs:element name="endLongitudeGridDelta" type="GridPointLatLonDelta" />
              <xs:element name="endLatitudePointDelta" type="GridLatLonPointDelta" />
              <xs:element name="endLongitudePointDelta" type="GridLatLonPointDelta" />
              <xs:element minOccurs="0" name="startAltitudeGridDelta" type="GridAltitudeDelta" />
              <xs:element minOccurs="0" name="endAltitudeGridDelta" type="GridAltitudeDelta" />
              <xs:element minOccurs="0" name="offsetStart" type="NormalizedDistance" />
              <xs:element minOccurs="0" name="offsetEnd" type="NormalizedDistance" />
            </xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="localGridPointPair" type="local:GridPointPair" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GridPointSequence">
    <xs:sequence>
      <xs:element name="pointPairCoordinateType" type="GridPointPairCoordinateType" />
      <xs:element name="side" type="Side" />
      <xs:element minOccurs="0" name="startLongitude" type="GridPointLongitude" />
      <xs:element minOccurs="0" name="startLatitude" type="GridPointLatitude" />
      <xs:element minOccurs="0" name="endLongitude" type="GridPointLongitude" />
      <xs:element minOccurs="0" name="endLatitude" type="GridPointLatitude" />
      <xs:element minOccurs="0" name="gridId" type="Int-index8" />
      <xs:element name="startLatitudeGridDelta" type="GridPointLatLonDelta" />
      <xs:element name="startLongitudeGridDelta" type="GridPointLatLonDelta" />
      <xs:element name="pointPairInfo">
        <xs:complexType>
          <xs:sequence maxOccurs="1000">
            <xs:sequence>
              <xs:element name="nextLatitudeGridDelta" type="GridPointLatLonDelta" />
              <xs:element name="nextLongitudeGridDelta" type="GridPointLatLonDelta" />
              <xs:element name="nextLatitudePointDelta" type="GridLatLonPointDelta" />
              <xs:element name="nextLongitudePointDelta" type="GridLatLonPointDelta" />
              <xs:element minOccurs="0" name="startAltitudeGridDelta" type="GridAltitudeDelta" />
              <xs:element minOccurs="0" name="nextAltitudeGridDelta" type="GridAltitudeDelta" />
            </xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="localGridPointSequence" type="local:GridPointSequence" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupName" type="Text-name255" />
      <xs:choice maxOccurs="100">
        <xs:element name="pointLocation" type="PointLocation" />
        <xs:element name="linkLocation" type="LinkLocation" />
        <xs:element name="areaLocation" type="AreaLocation" />
        <xs:element name="referenceLocation" type="LocationReference" />
        <xs:element name="routeLocation" type="RouteLocation" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="Height">
    <xs:choice>
      <xs:sequence>
        <xs:element name="altitude" type="Distance" />
        <xs:element minOccurs="0" name="verticalDatum" type="VerticalDatum" />
      </xs:sequence>
      <xs:element name="verticalLevel" type="VerticalLevel" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="IdType">
    <xs:sequence>
      <xs:element name="intOrAlpha">
        <xs:complexType>
          <xs:choice>
            <xs:element name="id" type="Int-index32" />
            <xs:element name="idAlpha" type="String-index64" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="databaseID" type="String-index64" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinkGeneral">
    <xs:sequence>
      <xs:element name="startLocation" type="PointLocation" />
      <xs:element name="endLocation" type="PointLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinkLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="linkName" type="Text-name255" />
      <xs:element minOccurs="0" name="linkEndpoints" type="LinkGeneral" />
      <xs:element minOccurs="0" name="linkId" type="IdType" />
      <xs:element minOccurs="0" name="addressLink" type="AddressLink" />
      <xs:element minOccurs="0" name="linearReferenceLink" type="LinearReference" />
      <xs:element minOccurs="0" name="crossStreetsLink" type="CrossStreetsLink" />
      <xs:element minOccurs="0" name="geoLocationLink" type="GeoLocationLink" />
      <xs:element minOccurs="0" name="gridLink" type="GridPointPair" />
      <xs:element minOccurs="0" name="preCodedLink" type="PreCoded" />
      <xs:element minOccurs="0" name="adminAreas" type="AdminAreaGroup" />
      <xs:element minOccurs="0" name="linkType" type="LinkType" />
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="LocationReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:element minOccurs="0" name="externalID" type="IdType" />
      <xs:sequence>
        <xs:element minOccurs="0" name="pointLocation" type="PointLocation" />
        <xs:element minOccurs="0" name="linkLocation" type="LinkLocation" />
        <xs:element minOccurs="0" name="areaLocation" type="AreaLocation" />
        <xs:element minOccurs="0" name="chain" type="Chain" />
        <xs:element minOccurs="0" name="transition" type="Transition" />
        <xs:element minOccurs="0" name="groupLocation" type="GroupLocation" />
        <xs:element minOccurs="0" name="routeLocation" type="RouteLocation" />
        <xs:element minOccurs="0" name="geometry" type="Geometry" />
        <xs:element minOccurs="0" name="geoCoord" type="GeoCoord" />
        <xs:element minOccurs="0" name="grid" type="Grid" />
        <xs:element minOccurs="0" name="linearReference" type="LinearReference" />
        <xs:element minOccurs="0" name="crossStreets" type="CrossStreets" />
        <xs:element minOccurs="0" name="address" type="Address" />
        <xs:element minOccurs="0" name="preCoded" type="PreCoded" />
        <xs:element minOccurs="0" name="nodeAttribute" type="NodeAttribute" />
        <xs:element minOccurs="0" name="spatialObject" type="SpatialObject" />
        <xs:element minOccurs="0" name="publicGrid" type="PublicGrid" />
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="NodeAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="nodeId" type="IdType" />
      <xs:element minOccurs="0" name="chainId" type="IdType" />
      <xs:element minOccurs="0" name="nodeOrigin" type="NodeOrigin" />
      <xs:element minOccurs="0" name="nodeValence" type="NodeValence" />
      <xs:element minOccurs="0" name="geoLocation" type="GeoLocation" />
      <xs:element minOccurs="0" name="streets">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="10">
            <xs:element name="street" type="StreetInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="localNodeAttribute" type="local:NodeAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="pointName" type="Text-name255" />
      <xs:element minOccurs="0" name="pointNodeId" type="IdType" />
      <xs:element minOccurs="0" name="pointOffset" type="PointOffset" />
      <xs:element minOccurs="0" name="polarCoordinates" type="PolarCoordinates" />
      <xs:element minOccurs="0" name="linearReferencePoint" type="LinearReference" />
      <xs:element minOccurs="0" name="addressPoint" type="AddressPoint" />
      <xs:element minOccurs="0" name="crossStreetsPoint" type="CrossStreetsPoint" />
      <xs:element minOccurs="0" name="grid" type="GridPoint" />
      <xs:element minOccurs="0" name="publicGrid" type="PublicGrid" />
      <xs:element minOccurs="0" name="geoLocationPoint" type="GeoLocation" />
      <xs:element minOccurs="0" name="adminArea" type="AdminAreaGroup" />
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="PointOffset">
    <xs:sequence>
      <xs:element name="point" type="PointLocation" />
      <xs:element name="offsetEast" type="Distance" />
      <xs:element name="offsetNorth" type="Distance" />
      <xs:element minOccurs="0" name="height" type="Height" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PolarCoordinates">
    <xs:sequence>
      <xs:element name="point" type="PointLocation" />
      <xs:element name="angularDirection" type="Angle" />
      <xs:element name="angularDistance" type="Distance" />
      <xs:element minOccurs="0" name="height" type="Height" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicGridLocalReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="gridCode" type="String-index64" />
      <xs:element minOccurs="0" name="cellId" type="IdType" />
      <xs:element minOccurs="0" name="nodeId" type="IdType" />
      <xs:element minOccurs="0" name="gridStep" type="PublicGridGridStep" />
      <xs:element minOccurs="0" name="eastWestDelta" type="PublicGridEastWestDelta" />
      <xs:element minOccurs="0" name="northSouthDelta" type="PublicGridNorthSouthDelta" />
      <xs:element minOccurs="0" name="height" type="Height" />
      <xs:element minOccurs="0" name="horizontalDatum" type="HorizontalDatum" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicGridStatePlane">
    <xs:sequence>
      <xs:element name="statePlaneZone" type="PublicGridStatePlaneZone" />
      <xs:element minOccurs="0" name="horDatum" type="HorizontalDatum" />
      <xs:element name="units">
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:restriction base="xs:unsignedInt">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="1" />
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="USSurveyFoot" />
                <xs:enumeration value="meters" />
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:element>
      <xs:element name="easting32">
        <xs:simpleType>
          <xs:restriction base="xs:float" />
        </xs:simpleType>
      </xs:element>
      <xs:element name="northing32">
        <xs:simpleType>
          <xs:restriction base="xs:float" />
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="height" type="Height" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicGridUSNG">
    <xs:sequence>
      <xs:element name="gridZone" type="PublicGridGridZone" />
      <xs:element name="gridSquare" type="PublicGridGridSquare" />
      <xs:element name="gridStep" type="PublicGridGridStep" />
      <xs:choice>
        <xs:element name="easting16" type="PublicGridEasting16" />
        <xs:element name="easting32" type="PublicGridEasting32" />
      </xs:choice>
      <xs:choice>
        <xs:element name="northing16" type="PublicGridNorthing16" />
        <xs:element name="northing32" type="PublicGridNorthing32" />
      </xs:choice>
      <xs:element minOccurs="0" name="horDatum" type="HorizontalDatum" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RouteLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:choice maxOccurs="unbounded">
        <xs:element minOccurs="0" name="pointLocation" type="PointLocation" />
        <xs:element minOccurs="0" name="linkLocation" type="LinkLocation" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="SpatialObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationName" type="Text-name255" />
      <xs:element minOccurs="0" name="objectId" type="IdType" />
      <xs:choice>
        <xs:element name="pointOrNodeObject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pointOrNode" type="PointLocation" />
              <xs:element minOccurs="0" name="pointAttributes" type="Attributes" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="linkObject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="link" type="LinkLocation" />
              <xs:element minOccurs="0" name="linkAttributes" type="Attributes" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="chainObject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="chain" type="Chain" />
              <xs:element minOccurs="0" name="chainAttributes" type="Attributes" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="transitionObject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transition" type="Transition" />
              <xs:element minOccurs="0" name="transitionAttributes" type="Attributes" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="areaObject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="area" type="AreaLocation" />
              <xs:element minOccurs="0" name="areaAttributes" type="Attributes" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="polygonObject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="polygon" type="Polygon" />
              <xs:element minOccurs="0" name="polygonAttributes" type="Attributes" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="routeObject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="route" type="RouteLocation" />
              <xs:element minOccurs="0" name="routeAttributes" type="Attributes" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="locationID" type="String-index64" />
  </xs:complexType>
  <xs:complexType name="StreetInfo">
    <xs:choice>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="4" name="prefix" type="Text-name-presuf4" />
        <xs:element name="name" type="Text-name255" />
        <xs:element minOccurs="0" maxOccurs="4" name="suffix" type="Text-name-presuf4" />
      </xs:sequence>
      <xs:element name="streetIndex" type="IdType" />
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="NormalizedDistance">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlertCCountryCode">
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Direction">
    <xs:annotation>
      <xs:appinfo>
            north (0)
            south (1)
            east (2)
            west (3)
            northeast (4)
            northwest (5)
            southeast (6)
            southwest (7)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="7" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="north" />
          <xs:enumeration value="south" />
          <xs:enumeration value="east" />
          <xs:enumeration value="west" />
          <xs:enumeration value="northeast" />
          <xs:enumeration value="northwest" />
          <xs:enumeration value="southeast" />
          <xs:enumeration value="southwest" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="GridAltitude">
    <xs:restriction base="xs:unsignedShort">
      <xs:maxInclusive value="4095" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridAltitudeDelta">
    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="2048" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridLatitude">
    <xs:restriction base="xs:short">
      <xs:minInclusive value="-10987" />
      <xs:maxInclusive value="+10987" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridLatLonPointDelta">
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="254" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridLongitude">
    <xs:restriction base="xs:short">
      <xs:minInclusive value="-21973" />
      <xs:maxInclusive value="+21973" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridPointAltitudeDelta">
    <xs:restriction base="xs:unsignedShort">
      <xs:maxInclusive value="16374" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridPointCoordinateType">
    <xs:annotation>
      <xs:appinfo>
            32-bit-lat-long (0)
            point-with-delta (1)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="32-bit-lat-long" />
          <xs:enumeration value="point-with-delta" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="GridPointLatitude">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-720000000" />
      <xs:maxInclusive value="+720000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridPointLatLonDelta">
    <xs:restriction base="xs:unsignedShort">
      <xs:maxInclusive value="16383" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridPointLongitude">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1440000000" />
      <xs:maxInclusive value="+1440000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridPointOffsetDistance">
    <xs:restriction base="xs:unsignedByte" />
  </xs:simpleType>
  <xs:simpleType name="GridPointPairCoordinateType-item">
    <xs:annotation>
      <xs:appinfo>
            32-bit-lat-long (0)
            point-with-14bit-delta (1)
            point (2)
            variable (3)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="32-bit-lat-long" />
          <xs:enumeration value="point-with-14bit-delta" />
          <xs:enumeration value="point" />
          <xs:enumeration value="variable" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="GridPointPairCoordinateType">
    <xs:list itemType="GridPointPairCoordinateType-item" />
  </xs:simpleType>
  <xs:simpleType name="GridZoom">
    <xs:restriction base="xs:byte">
      <xs:minInclusive value="-5" />
      <xs:maxInclusive value="+6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HorizontalDatum">
    <xs:annotation>
      <xs:appinfo>
            wgs-84 (0)
            wgs-84egm-96 (1)
            nad83 (2)
            nad27 (3) -- LOCAL_CONTENT
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="wgs-84" />
          <xs:enumeration value="wgs-84egm-96" />
          <xs:enumeration value="nad83" />
          <xs:enumeration value="nad27" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="IntersectionType">
    <xs:annotation>
      <xs:appinfo>
            simple (0) -- Road crossing that has no internal road elements.
             -- Represented in any map database by just one GDF junction.
            complex (1) -- Road crossing that has one or more internal
             -- road elements that can be considered part of the road crossing.
             -- Represented in higher resolution map databases by several
             -- GDF road elements and junctions.
            gradeSeparated (2) -- Non-topological intersection of roads ,  for example an overpass.
            roundabout (3) -- Closed ,  one-way loop for the regulation of traffic flow at grade.
            square (4) -- An area of regulated traffic flow around an obstruction such as a fountain.
            interchange (5) -- A complex feature composed of all the road elements and junctions forming a crossing.
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="5" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="simple" />
          <xs:enumeration value="complex" />
          <xs:enumeration value="gradeSeparated" />
          <xs:enumeration value="roundabout" />
          <xs:enumeration value="square" />
          <xs:enumeration value="interchange" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="Int-index12">
    <xs:restriction base="xs:unsignedShort">
      <xs:maxInclusive value="4095" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int-index16">
    <xs:restriction base="xs:unsignedShort" />
  </xs:simpleType>
  <xs:simpleType name="Int-index32">
    <xs:restriction base="xs:unsignedInt" />
  </xs:simpleType>
  <xs:simpleType name="Int-index8">
    <xs:restriction base="xs:unsignedByte" />
  </xs:simpleType>
  <xs:simpleType name="Int-latitude32">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-90000000" />
      <xs:maxInclusive value="+90000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int-loccode16">
    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int-loctable8">
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="63" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int-longitude32">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-180000000" />
      <xs:maxInclusive value="+180000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Latitude">
    <xs:restriction base="Int-latitude32" />
  </xs:simpleType>
  <xs:simpleType name="LinkType">
    <xs:annotation>
      <xs:appinfo>
            freeway (1)
            arterial (2)
            collector (3)
            local (4)
            service road (7)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="1" />
          <xs:maxInclusive value="7" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="freeway" />
          <xs:enumeration value="arterial" />
          <xs:enumeration value="collector" />
          <xs:enumeration value="local" />
          <xs:enumeration value="service road" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="LocationCode">
    <xs:restriction base="Int-loccode16" />
  </xs:simpleType>
  <xs:simpleType name="LocationTable">
    <xs:restriction base="Int-loctable8" />
  </xs:simpleType>
  <xs:simpleType name="Longitude">
    <xs:restriction base="Int-longitude32" />
  </xs:simpleType>
  <xs:simpleType name="LRMethod">
    <xs:annotation>
      <xs:appinfo>
            milepoint (0)
            kilopoint (1)
            percentage (2)
            milepost (3)
            referencePost (4)
            countyMilepost (5)
            stationing (6)
            streetAddress (7)
            crossStreet (8)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="8" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="milepoint" />
          <xs:enumeration value="kilopoint" />
          <xs:enumeration value="percentage" />
          <xs:enumeration value="milepost" />
          <xs:enumeration value="referencePost" />
          <xs:enumeration value="countyMilepost" />
          <xs:enumeration value="stationing" />
          <xs:enumeration value="streetAddress" />
          <xs:enumeration value="crossStreet" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="LROffsetRef">
    <xs:annotation>
      <xs:appinfo>
            centerline (0)
            edgeOfTravel (1)
            rightOfWay (2)
            curbFace (3)
            curbBack (4)
            edgeOfShoulder (5)
            edgeOfBerm (6)
            walkwayInside (7)
            walkwayOutside (8)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="8" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="centerline" />
          <xs:enumeration value="edgeOfTravel" />
          <xs:enumeration value="rightOfWay" />
          <xs:enumeration value="curbFace" />
          <xs:enumeration value="curbBack" />
          <xs:enumeration value="edgeOfShoulder" />
          <xs:enumeration value="edgeOfBerm" />
          <xs:enumeration value="walkwayInside" />
          <xs:enumeration value="walkwayOutside" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="LRPosOffsetDir">
    <xs:annotation>
      <xs:appinfo>
            right (0) -- Positive direction for lateral offset is right
            left (1) -- Positive direction for lateral offset is left
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="right" />
          <xs:enumeration value="left" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="NodeOrigin">
    <xs:annotation>
      <xs:appinfo>
            NationalDataset (0)
            Regional/LocalDataset (1)
            ProprietaryDataset (2)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="2" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NationalDataset" />
          <xs:enumeration value="Regional/LocalDataset" />
          <xs:enumeration value="ProprietaryDataset" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="NodeValence">
    <xs:restriction base="xs:unsignedByte">
      <xs:maxInclusive value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericIDXSize12">
    <xs:restriction base="Int-index12" />
  </xs:simpleType>
  <xs:simpleType name="NumericIDXSize16">
    <xs:restriction base="Int-index16" />
  </xs:simpleType>
  <xs:simpleType name="NumericIDXSize32">
    <xs:restriction base="Int-index32" />
  </xs:simpleType>
  <xs:simpleType name="NumericIDXSize8">
    <xs:restriction base="Int-index8" />
  </xs:simpleType>
  <xs:simpleType name="PointType">
    <xs:annotation>
      <xs:appinfo>
            airport (1)
            amusementPark (2)
            bank (3)
            beach (4)
            bodyOfWater (5)
            bridgeOverpass (6)
            businessDistrict (7)
            busStation (8)
            campground (9)
            capitalBuilding (10)
            casino (11)
            cemetary (12)
            church (13)
            collegeUniversity (14)
            conventionCenter (15)
            countySeat (16)
            courthouse (17)
            dam (18)
            employmentCenter (19)
            fairground (20)
            fareOutlet (21)
            gasStation (22)
            golfCourse (23)
            governmentBuilding (24)
            groceryStore (25)
            historicalSite (26)
            hospital (27)
            hotelMotel (28)
            indigineousReserve (29)
            intermodalStation (30)
            landfill (31)
            library (32)
            lighthouse (33)
            marina (34)
            militaryFacility (35)
            monument (36)
            museum (37)
            observatory (38)
            officeBuilding (39)
            operaHouse (40)
            park (41)
            parkAndPool (42)
            parkAndRide (43)
            parkingFacility (44)
            pier (45)
            port (46)
            residence (47)
            resort (48)
            restaurant (49)
            school (50)
            shoppingCenter (51)
            sportsArena (52)
            swampWetland (53)
            theater (54)
            trainStation (55)
            trolleyStation (56)
            tunnel (57)
            tunnelStation (58)
            volcano (59)
            watertfall (60)
            winery (61)
            zoo (62) -- 63-150 reserved
             -- 151-200 local use
             -- 201-249 reserved
            otherLandmark (250) -- 251-255 reserved
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="250" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="airport" />
          <xs:enumeration value="amusementPark" />
          <xs:enumeration value="bank" />
          <xs:enumeration value="beach" />
          <xs:enumeration value="bodyOfWater" />
          <xs:enumeration value="bridgeOverpass" />
          <xs:enumeration value="businessDistrict" />
          <xs:enumeration value="busStation" />
          <xs:enumeration value="campground" />
          <xs:enumeration value="capitalBuilding" />
          <xs:enumeration value="casino" />
          <xs:enumeration value="cemetary" />
          <xs:enumeration value="church" />
          <xs:enumeration value="collegeUniversity" />
          <xs:enumeration value="conventionCenter" />
          <xs:enumeration value="countySeat" />
          <xs:enumeration value="courthouse" />
          <xs:enumeration value="dam" />
          <xs:enumeration value="employmentCenter" />
          <xs:enumeration value="fairground" />
          <xs:enumeration value="fareOutlet" />
          <xs:enumeration value="gasStation" />
          <xs:enumeration value="golfCourse" />
          <xs:enumeration value="governmentBuilding" />
          <xs:enumeration value="groceryStore" />
          <xs:enumeration value="historicalSite" />
          <xs:enumeration value="hospital" />
          <xs:enumeration value="hotelMotel" />
          <xs:enumeration value="indigineousReserve" />
          <xs:enumeration value="intermodalStation" />
          <xs:enumeration value="landfill" />
          <xs:enumeration value="library" />
          <xs:enumeration value="lighthouse" />
          <xs:enumeration value="marina" />
          <xs:enumeration value="militaryFacility" />
          <xs:enumeration value="monument" />
          <xs:enumeration value="museum" />
          <xs:enumeration value="observatory" />
          <xs:enumeration value="officeBuilding" />
          <xs:enumeration value="operaHouse" />
          <xs:enumeration value="park" />
          <xs:enumeration value="parkAndPool" />
          <xs:enumeration value="parkAndRide" />
          <xs:enumeration value="parkingFacility" />
          <xs:enumeration value="pier" />
          <xs:enumeration value="port" />
          <xs:enumeration value="residence" />
          <xs:enumeration value="resort" />
          <xs:enumeration value="restaurant" />
          <xs:enumeration value="school" />
          <xs:enumeration value="shoppingCenter" />
          <xs:enumeration value="sportsArena" />
          <xs:enumeration value="swampWetland" />
          <xs:enumeration value="theater" />
          <xs:enumeration value="trainStation" />
          <xs:enumeration value="trolleyStation" />
          <xs:enumeration value="tunnel" />
          <xs:enumeration value="tunnelStation" />
          <xs:enumeration value="volcano" />
          <xs:enumeration value="watertfall" />
          <xs:enumeration value="winery" />
          <xs:enumeration value="zoo" />
          <xs:enumeration value="otherLandmark" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="local:ExtendedPointType" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="PostalCode">
    <xs:restriction base="xs:string">
      <xs:minLength value="5" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PreCodedIdType">
    <xs:annotation>
      <xs:appinfo>
            AlertC (0)
            Registry (1)
            AlphanumId (2)
            NumericIdx (3)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AlertC" />
          <xs:enumeration value="Registry" />
          <xs:enumeration value="AlphanumId" />
          <xs:enumeration value="NumericIdx" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="PublicGridEasting16">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="PublicGridEasting32">
    <xs:restriction base="xs:unsignedInt">
      <xs:maxInclusive value="1000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublicGridEastWestDelta">
    <xs:restriction base="xs:short">
      <xs:minInclusive value="-10000" />
      <xs:maxInclusive value="+10000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublicGridGridSquare">
    <xs:restriction base="xs:string">
      <xs:length value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublicGridGridStep">
    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="+10000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublicGridGridZone">
    <xs:restriction base="xs:string">
      <xs:length value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublicGridNorthing16">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="PublicGridNorthing32">
    <xs:restriction base="xs:unsignedInt">
      <xs:maxInclusive value="1000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublicGridNorthSouthDelta">
    <xs:restriction base="xs:short">
      <xs:minInclusive value="-10000" />
      <xs:maxInclusive value="+10000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublicGridStatePlaneZone">
    <xs:restriction base="Int-index16" />
  </xs:simpleType>
  <xs:simpleType name="SequenceNum">
    <xs:restriction base="Int-index16" />
  </xs:simpleType>
  <xs:simpleType name="Side">
    <xs:annotation>
      <xs:appinfo>
            unknown (0)
            right (1)
            left (2)
            both (3)
            north (4)
            south (5)
            east (6)
            west (7)
            northeast (8)
            northwest (9)
            southeast (10)
            southwest (11)
            northAndSouth (12)
            eastAndWest (13)
            all (14)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="14" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="unknown" />
          <xs:enumeration value="right" />
          <xs:enumeration value="left" />
          <xs:enumeration value="both" />
          <xs:enumeration value="north" />
          <xs:enumeration value="south" />
          <xs:enumeration value="east" />
          <xs:enumeration value="west" />
          <xs:enumeration value="northeast" />
          <xs:enumeration value="northwest" />
          <xs:enumeration value="southeast" />
          <xs:enumeration value="southwest" />
          <xs:enumeration value="northAndSouth" />
          <xs:enumeration value="eastAndWest" />
          <xs:enumeration value="all" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="String-index64">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text-name255">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text-name-presuf4">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerticalDatum">
    <xs:annotation>
      <xs:appinfo>
            wgs-84 (0)
            navd (1)
         </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="wgs-84" />
          <xs:enumeration value="navd" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="VerticalLevel">
    <xs:restriction base="xs:byte">
      <xs:minInclusive value="-128" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>