C2C.Common/Connected Services/CHSTrafficSubCentre/TrafficSubCentre_v0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:header="http://transport.nsw.gov.au/rms" xmlns:c2c="http://www.ntcip.org/c2c-message-administration" xmlns:tns="http://transport.nsw.gov.au/rms/services/entity/parties/TrafficSubCentre_v0" xmlns:v0p1="http://transport.nsw.gov.au/rms/services/entity/parties/TrafficSubCentre_v0p1" xmlns:tmdd="http://www.tmdd.org/3/messages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TrafficSubCentre_v0.wsdl" targetNamespace="http://transport.nsw.gov.au/rms/services/entity/parties/TrafficSubCentre_v0" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
		Traffic Sub Centre Service - Version 0.1
	</documentation>
  <types>
    <xs:schema targetNamespace="http://transport.nsw.gov.au/rms/services/entity/parties/TrafficSubCentre_v0p1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="../../xsd/tmdd/TMDD.xsd" namespace="http://www.tmdd.org/3/messages" />
      <xs:import schemaLocation="../../xsd/tmdd/C2C.xsd" namespace="http://www.ntcip.org/c2c-message-administration" />
      <xs:import schemaLocation="MsgContext.xsd" namespace="http://transport.nsw.gov.au/rms" />
      <xs:element name="getCentreActiveInformation">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:centerActiveVerificationRequestMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCentreActiveInformationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:centerActiveVerificationResponseMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishCentreActiveInformation">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:centerActiveVerificationResponseMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="publishCentreActiveInformationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="c2c:c2cMessageReceipt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="errorReport">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tmdd:errorReportMsg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="publishCentreActiveInformation">
    <part name="message" element="v0p1:publishCentreActiveInformation" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="publishCentreActiveInformationResponse">
    <part name="message" element="v0p1:publishCentreActiveInformationResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getCentreActiveInformation">
    <part name="message" element="v0p1:getCentreActiveInformation" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="getCentreActiveInformationResponse">
    <part name="message" element="v0p1:getCentreActiveInformationResponse" />
    <part name="rms_header" element="header:msgContext" />
  </message>
  <message name="errorReport">
    <part name="message" element="v0p1:errorReport" />
  </message>
  <portType name="TrafficSubCentrePortType_v0p1">
    <operation name="getCentreActiveInformation">
      <documentation>
        <objectClass>ConnectionManagement</objectClass>
        <msgPattern>R-R</msgPattern>
        <requirement>REQ199</requirement>
      </documentation>
      <input message="tns:getCentreActiveInformation" />
      <output message="tns:getCentreActiveInformationResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
    <operation name="publishCentreActiveInformation">
      <documentation>
        <objectClass>ConnectionManagement</objectClass>
        <msgPattern>Pub</msgPattern>
        <requirement>REQ200</requirement>
      </documentation>
      <input message="tns:publishCentreActiveInformation" />
      <output message="tns:publishCentreActiveInformationResponse" />
      <fault name="errorReport" message="tns:errorReport" />
    </operation>
  </portType>
  <binding name="TrafficSubCentreSoapHttpBinding_v0p1" type="tns:TrafficSubCentrePortType_v0p1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getCentreActiveInformation">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getCentreActiveInformation" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:getCentreActiveInformationResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
    <operation name="publishCentreActiveInformation">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishCentreActiveInformation" part="rms_header" use="literal" />
      </input>
      <output>
        <soap:body use="literal" parts="message" />
        <soap:header message="tns:publishCentreActiveInformationResponse" part="rms_header" use="literal" />
      </output>
      <fault name="errorReport">
        <soap:fault use="literal" name="errorReport" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="TrafficSubCentre_v0p1">
    <port name="TrafficSubCentreSoapHttpPort" binding="tns:TrafficSubCentreSoapHttpBinding_v0p1">
      <soap:address location="http://soanp11z1.rta.nsw.gov.au:9080/CHS_MTW_TrafficSubCentre-mediationWeb/sca/CHS_MTW_TrafficSubCentreExport" />
    </port>
  </service>
</definitions>